# Q1:

Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

In [1]:
pizza=["fajeeta","tandoori_chicken","creamy_max"]

In [2]:
for a in pizza:
    print(a)

fajeeta
tandoori_chicken
creamy_max

# Q2

Start with your last question , Modify your for loop to print a sentence using the name of the pizza
instead of printing just the name of the pizza. For each pizza you should
have one line of output containing a simple statement like I like pepperoni
pizza.

In [3]:
for a in pizza:
    print(f"I like {a} pizza ")

I like fajeeta pizza
I like tandoori_chicken pizza
I like creamy_max pizza

# Q3:

Use a for loop to print the numbers from 1 to 20,
inclusive.

In [5]:
for a in range(1,21):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Q4:

Use the third argument of the range() function to make a list
of the odd numbers from 1 to 20. Use a for loop to print each number.

In [7]:
for a in range(1,21,2):
    print(a)

1
3
5
7
9
11
13
15
17
19

# Q5:

Make a list of the multiples of 3 from 3 to 30. Use a for loop to
print the numbers in your list.

In [15]:
mulof3=[3,6,9,12,15,18,21,24,27,30]

In [17]:
for a in mulof3:
    print(a)

3
6
9
12
15
18
21
24
27
30

# Q6:

A number raised to the third power is called a cube. For example,
the cube of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that
is, the cube of each integer from 1 through 10), and use a for loop to print out
the value of each cube

In [22]:
cube=[1**3,2**3,3**3,4**3,5**3,6**3,7**3,8**3,9**3,10**3]

In [23]:
for a in cube:
    print(a)

1
8
27
64
125
216
343
512
729
1000

# Q7:

###### Make a python program that conatains your nine favourite dishes in a list called foods.

###### Print the message, The first three items in the list are:. 
###### Then use a slice to print the first three items from that program’s list.

###### Print the message, Three items from the middle of the list are:
###### Use a slice to print three items from the middle of the list.

###### Print the message, The last three items in the list are:
###### Use a slice to print the last three items in the list.

In [24]:
foods=["biryani","beef burgers","dumba boti", "pizza","chicken sajji","chargah","chicken steak","beef karahi","alfredo pasta"]

In [30]:
print("The first three items in the list are: ")
for a in range(0,len(foods)-6):
    print(foods[a])

The first three items in the list are:
biryani
beef burgers
dumba boti

In [32]:
print("The items from the middle of the list are: ")
for a in range(len(foods)-6,len(foods)-3):
    print(foods[a])

The items from the middle of the list are:
pizza
chicken sajji
chargah

In [33]:
print("The last three items in the list are: ")
for a in range(len(foods)-3,len(foods)):
    print(foods[a])

The last three items in the list are:
chicken steak
beef karahi
alfredo pasta

# Q8:

### Start with your program from your last Question8.
###### Make a copy of the list of foods, and call it friend_foods.
###### Then, do the following:
######    Add a new dish to the original list.
######    Add a different dish to the list friend_foodss.
######    Prove that you have two separate lists. 
###### Print the message, My favorite pizzas are: and then use a for loop to print the first list. 
###### Print the message,
###### My friend’s favorite foods are:, and then use a for loop to print the second list.
    
##### NOTE: Make sure each new dish is stored in the appropriate list.

In [44]:
friend_foodss=foods.copy()

In [45]:
friend_foodss.append("Garlic bread")

In [70]:
print(f" Proof \n The length of list named foods is {len(foods)} \n The length of list named friend_foodss is The length of list named foods is  {len(friend_foodss)} ")

 Proof
 The length of list named foods is 9
 The length of list named friend_foodss is The length of list named foods is  10

In [73]:
print("My favourite foods are: \n-------------------------------")
for a in foods:
    print(a)
print("My friends favourite foods are: \n--------------------------------")
for a in friend_foodss:
    print(a)

My favourite foods are:
-------------------------------
biryani
beef burgers
dumba boti
pizza
chicken sajji
chargah
chicken steak
beef karahi
alfredo pasta
My friends favourite foods are:
--------------------------------
biryani
beef burgers
dumba boti
pizza
chicken sajji
chargah
chicken steak
beef karahi
alfredo pasta
Garlic bread

# Q9:

Take a user input from console line.Store it in a variable called Alien_color.

If the alien’s color is red, print a statement that the player just earned 5 points for shooting the alien.

If the alien’s color isn’t green, print a statement that the player just earned 10 points.

If the alien's color isn't red or green , print a statment :, Alien is no more.....

In [145]:
Alien_color=input("Enter the color of alien: ").lower()
if(Alien_color=="red"):
    print("The player just earned 5 points for shooting the alien")
elif(Alien_color!="green"):
    print("The player just earned 10 points ")
    print("Alien is no more.....")

Enter the color of alien: red
The player just earned 5 points for shooting the alien

# Q10:

Write an if-elif-else chain that determines a person’s
stage of life. Set a value for the variable age, and then:
    
•	 If the person is less than 2 years old, print a message that the person is a baby.

•	 If the person is at least 2 years old but less than 4, print a message that the person is a toddler.

•	 If the person is at least 4 years old but less than 13, print a message that the person is a kid.

•	 If the person is at least 13 years old but less than 20, print a message that the person is a teenager.

•	 If the person is at least 20 years old but less than 65, print a message that the person is an adult.

•	 If the person is age 65 or older, print a message that the person is an elder.

In [11]:
age=int(input("Enter your age: "))
if(age<2):
    print("You are a baby")
elif(age<4):
    print("You are a toddler")    
elif(age<13):
    print("You are a kid")
elif(age<20):
    print("You are a teenager")     
elif(age<65):
    print("You are an adult")
else:
    print("You are a elder")

Enter your age: 6
You are a kid

# Q11:

Do the following to create a program that simulates how websites ensure that everyone has a unique username.

•	 Make a list of five or more usernames called current_users.

•	 Make another list of five usernames called new_users. 
Make sure one or two of the new usernames are also in the current_users list.

•	 Loop through the new_users list to see if each new username has already been used. 
If it has, print a message that the person will need to enter a new username. 
If a username has not been used, print a message saying that the username is available.

•	 Make sure your comparison is case insensitive. If 'John' has been used, 'JOHN' should not be accepted.

In [36]:
current_users=["Hamza","jawad","safwan","waqas","sameer","hassan"]

new_users=["zaraq","mujtaba","anil","durjan","Hamza","jAwad", "HASSAN"]

In [38]:
for a in new_users:
    for b in range(len(current_users)):
        if(a.lower()==current_users[b].lower()):
            print(f"username {a} is unavailable")

username Hamza is unavailable
username jAwad is unavailable
username HASSAN is unavailable

# Q12:

Use a dictionary to store information about a person you know.
Store their first name, last name, age, and the city in which they live. 
You should have keys such as first_name, last_name, age, and city. 
Print each piece of information stored in your dictionary

In [45]:
info={"f_name":"Hamza","l_name":"Usman Ghani","age":20,"city":"karachi"}

{'f_name': 'Hamza', 'l_name': 'Usman Ghani', 'age': 20, 'city': 'karachi'}

In [121]:
for a in info.keys():
    print(f"{a}:{info[a]}")

f_name:Hamza
l_name:Usman Ghani
age:20
city:karachi

# Q13:

Starts with your last question 12 , loop through the dictionary’s keys and values.
When you’re sure that your loop works, add five more Python terms to your
dictionary . When you run your program again, these new words and meanings
should automatically be included in the output.

In [132]:
info.update({"phone no":"0000000","education":"Engineer","gender":"Male","email":"hamza@gmail.com","address":"XYZ road"})

In [133]:
for a in info.keys():
    print(f"{a}:{info[a]}")

f_name:Hamza
l_name:Usman Ghani
age:20
city:karachi
phone no:0000000
education:Engineer
gender:Male
email:hamza@gmail.com
address:XYZ road

# Q14:

Make a dictionary containing three major rivers and the country
each river runs through. One key-value pair might be 'nile': 'egypt'.
    
    
•	 Use a loop to print a sentence about each river, such as The Nile runs
through Egypt.

NOTE: use upper case through keys and values.

In [63]:
mydic={"nile":"egypt","tigris":"iraq","hugli":"india"}

In [84]:
for a in mydic.keys():
    print(f"The {a.upper()} runs through {mydic[a].upper()}")

The NILE runs through EGYPT
The TIGRIS runs through IRAQ
The HUGLI runs through INDIA

# Q15:

Make several dictionaries, where the name of each dictionary is the
name of a pet. In each dictionary, include the kind of animal and the owner’s
name. Store these dictionaries in a list called pets. Next, loop through your list
and as you do print everything you know about each pet.

In [117]:
cats={"charlie cat":"jawad","harry cat":"safwan","leo cat":"iqbal"}
dogs={"bella dog":"Nabeel","teddy dog":"yousuf","poppy dog":"arsalan"}
rabbit={"wild rabbit":"hassan","dizzy rabbit":"shaheer","donald rabbit":"yasir"}
pets=[cats,dogs,rabbit]

In [118]:
for a in pets:
    for b in a.keys():
        print(f"{a[b]} has {b} ")

jawad has charlie cat
safwan has harry cat
iqbal has leo cat
Nabeel has bella dog
yousuf has teddy dog
arsalan has poppy dog
hassan has wild rabbit
shaheer has dizzy rabbit
yasir has donald rabbit